<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>

    <add name="Humanitas" connectionString="database type=mssql;server=.;database=humanitas;uid=humanitas;password=Q!w2e3r4t5;" />
    <!--
    <add name="Humanitas" connectionString="database type=mssql;server=mssql02-farm68.kinghost.net;database=rafaelmelo;uid=rafaelmelo;password=Q!w2e3r4t5;" />
    <add name="Humanitas" connectionString="data source=C:\Data\Repositories\humanitas-repos\cache\humanitas.sqlcache;" />
    <add name="Humanitas" connectionString="data source=D:\web\localuser\rafaelmelo\www\humanitas-repos\cache\humanitas.sqlcache;" />
    -->
  
  </connectionStrings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>