<div class="widget-box transparent">
    <div class="widget-header widget-header-flat">
        <h4 class="widget-title lighter" style="color: #5A5A5A;">
            <i class="ace-icon fa fa-user"></i>
            Identificando usuário...
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-primary" (click)="signInWithFB()">
            <i class="ace-icon fa fa-facebook"></i> Login pelo Facebook
        </button>

        <!--button *class="btn btn-danger btn-block" (click)="signInWithGoogle()">
        <i class="ace-icon fa fa-google-plus"></i> Login pelo Google
    </button>
    
    <button class="btn btn-primary btn-block" (click)="signInWithLinkedIN()">
        <i class="ace-icon fa fa-twitter"></i> Login pelo LinkedIn
    </button-->
    </div>
</div>