<div class="message-container">
    <div id="id-message-new-navbar" class="message-navbar clearfix">
        <div class="message-bar">
            <div class="message-toolbar">
            </div>
        </div>
        <div>
            <div class="messagebar-item-left">
                <a href="#" class="btn-back-message-list">
                    <i class="ace-icon fa fa-arrow-left bigger-110 middle blue"></i>
                    <b class="middle bigger-110">Voltar</b>
                </a>
            </div>
            <div class="messagebar-item-right">
                <span class="inline btn-send-message">
                    <button type="button" class="btn btn-sm btn-primary no-border btn-white btn-round" (click)="save(data)">
                        <span class="bigger-110">Salvar</span>
                        <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>

    <div class="message-list-container">
        <form id="id-message-form" class="form-horizontal message-form col-xs-12">
            <div *ngIf="data">

                <preload-control type="domain" icon="fa fa-university" label="Filosofia" value="{{data.domainId}}" (select)="data.domainId = $event.value"
                    placeholder="Nome da Filosofia"></preload-control>

                <div class="hr hr-18 dotted"></div>

                <preload-control type="tag" icon="fa fa-tag" label="Dentro de" value="{{data.parentId}}" (select)="data.parentId = $event.value"
                    placeholder="Dentro da Tag"></preload-control>

                <div class="hr hr-18 dotted"></div>

                <preload-control type="tagtype" icon="glyphicon glyphicon-asterisk" label="Tipo" value="{{data.type}}" (select)="data.type = $event.value"
                    placeholder="Tipo"></preload-control>

                <div class="hr hr-18 dotted"></div>

                <text-control type="name" icon="fa fa-arrow-right" label="Nome" value="{{data.name}}" (change)="data.name = $event" placeholder="Nome da Tag"></text-control>

                <div class="hr hr-18 dotted"></div>

                <textarea-control label="Texto" value="{{data.text}}" (change)="data.text = $event"></textarea-control>

                <div class="hr hr-18 dotted"></div>

                <text-control type="name" icon="fa fa-bookmark" label="Referência" value="{{data.referencesName}}" (change)="data.referencesName = $event"
                    placeholder="Referência"></text-control>

                <div class="space"></div>
            </div>
        </form>
    </div>

</div>